.hard-fork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 2100px;
  width: 93%;
  margin: 1% auto 1% auto;
  position: relative;
}
.hard-fork-item {
  width: 100%;
  height: auto;
}
.hard-fork-image {
  width: 370px;
  height: auto;
}
// .fork-item-middle{
// }
.lower-image {
  width: 95px;
  height: auto;
}
