.latest-deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 93%;
  height: 700px;
  margin: 1% auto 1% auto;
  gap: 2%;
}

.deals-item {
  width: 100%;
  height: auto;

  a {
    font-size: 25px;
    font-weight: bold;
    color: #f42;
  }
}
.deals-img {
  width: 100%;
  height: auto;
}

.deals-image a {
  color: black;
  font-size: 15px;
  font-weight: bolder;
}
small {
  color: gray;
  font-weight: bold;
}
