.hard-fork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 2100px;
  width: 93%;
  margin: 1% auto 0 auto;
  gap: 10px;
}

.hard-fork-item {
  width: 100%;
  height: auto;
}

.hard-fork-img {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
  width: 100%;
  height: 200px;
  background:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/bitcoinmast.jpg");
  background-size: cover;

  h1 {
    font-weight: 700;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  small {
    color: gray;
  }
}

.fork-item-middle {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 244, 242);
}

.fork-middle-left {
  padding-left: 15px;

  p {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #fc806a;
  }

  a {
    color: #f42;
    font-size: 10px;
    font-weight: bold;
  }
}

.lower-image {
  width: 95px;
  height: 95px;
}

.hard-fork-head {
  display: block;
  font-size: 25px;
  color: #f42;
  font-weight: 700;
  padding-bottom: 10px;
}

.fork-item-list a {
  color: grey;

  &:hover {
    color: black;
  }
}
