.latest-deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 93%;
  height: auto;
  margin: 1% auto 1% auto;
  gap: 15px;
}

.latedeals-nav {
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a {
    font-size: 25px;
    font-weight: bold;
    color: #f42;
    margin-bottom: 20px;
  }

  span {
    font-weight: 400;
    font-size: 15px;
  }
}

.deals-item {
  width: 100%;
  height: auto;
}

.deals-img {
  width: 100%;
  height: auto;
}

.deals-image a {
  color: black;
  font-size: 15px;
  font-weight: bolder;
}

.deals-bot {
  display: flex;

  em {
    color: rgb(189, 178, 178);
    font-weight: 400;
    text-decoration: line-through;
    font-size: 13px;
  }
}

span {
  font-weight: 500;
  padding-left: 5px;
  color: gray;
}
